extends layout

block content
	div#home
		if(user_data)
			each user_log in user_data
				div.user
					= user_log.username

				each project in projects
					if(user_log.getHoursByProject(project.name) > 0)
						div.project
							= project.name
						div.hours
							= user_log.getHoursByProject(project.name)
		else
			h1 Sorry No Data Found In the database
