extends layout

block content
	div#home
		div.dashboard
			if logs.status === true
				div.log-table
					div.log-table-headers.group
						div User
						div Project
						div From
						div To 
						div Date
					each log in logs.logs
						div.log-item.group
							div.username
								= log.username
							div.project
								= log.project
							div.from
								= log.from
							div.to
								= log.to
							div.date
								= log.date