extends layout

block content
	div.logger-page
		form#insert_log_form

			select(name='username')
				for user in users
					option(value= user.username) #{user.name}

			select(name='project')
				for project in projects
					option(value= project.name) #{project.name}

			input(type='text', name="date", class='datepicker')
			input(type='text', name="from", class='timepicker from')
			input(type='text', name="to", class='timepicker to')
			input(type='submit', value='Submit')
