extends layout

block content
	h1= title

	div.log-table
		- each log in log_data.logs
			div.item
				- if(log.project)
					div.project
						= log.project
				- if(log.date)
					div.date
						= log.date
				- if(log.from)
					div.from
						= log.from
				- if(log.to)
					div.to
						= log.to
					
